/************
* =General tags
*************/
html, body{
	padding: 0;
	margin: 0;
}

/************
* =Effects
*************/
.center{
	margin: auto;
}

.hidden{
	display: none;
}

/************
* =Graph related
*************/
.node{
	cursor: pointer;
	z-index: 200;
}

.node:hover{
	z-index: 999;
}

.node circle{
	fill: #fff;
	stroke: #38f;
	stroke-width: 1.5px;
	font: 15px sans-serif;
	transition: all 0.3s;
}

.node:hover circle{
	fill: #079;
	stroke: #079 !important;
}

.node:hover text{
	fill: #fff;
}

path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

marker#licensing {
    fill: green;
}

path.link.licensing {
    stroke: green;
}

path.link.resolved {
    stroke-dasharray: 0, 2 1;
}

/************
* =Header
*************/
body > header{
	cursor: pointer;
	border: none;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	color: #f83;
	background-color: #ccc;
}

.title{
	background-color: #fff;
	border-radius: 5px;
	padding: 3px 10px;
}

/************
* =Search
*************/
#searchScreen{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(120, 120, 120, 0.3);
}

#searchBox{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 800px;
	height: 600px;
	margin: auto;
	background-color: #38f;
	box-shadow: 0 0 15px 5px #000;
}

#searchInput{
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 1.5em;
	text-align: center;
	margin: 0;
	padding: 0;
	border: none;
}

#searchResult{
	position: absolute;
	height: 550px;
	top: 50px;
	bottom: 0;
	width: 100%;
	color: #000;
	overflow-y: hidden;
}

#searchResult table{
	width: 100%;
	border-collapse: collapse;
}

#searchResult tr{
	height: 25px;
	cursor: pointer;
}

#searchResult tr:first-child{
	background-color: rgba(80, 80, 80, 0.7);
}

#searchResult tr:hover{
	background-color: rgba(180, 180, 180, 0.7);
}

#searchResult td{
	text-align: center;
}

#searchResult td:first-child{
	text-align: right;
	width: 200px;
}
