{% load account %}

<!DOCTYPE html>
<html lang="en" ng-app="mubook">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
  <meta name="google-site-verification" content="aiA43J3Zi8d1kmV1nTOAdnfJ7LvbLQJEhxuqHYLnXAE" />
  <meta charset="UTF-8">
  <meta name="description" content="µBook is the unofficial Melbourne University subject handbook. Subject selection should be simple, and that's why µBook exists.">
  <meta property="og:description" content="µBook is the unofficial Melbourne University subject handbook. Subject selection should be simple, and that's why µBook exists.">
  <meta property="og:title" content="µBook" />
  <meta property="og:url" content="http://www.mubook.me/" />
  <title ng-bind="pageTitle">µBook</title>
  <link rel="icon" href="/static/mubook_favicon.ico" type="image/x-icon">
  <link href="//fonts.googleapis.com/css?family=Russo+One&subset=latin,latin-ext,cyrillic" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Ubuntu:700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/app.min.css">
  {% block additional-css %}{% endblock %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-cookies.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.min.js"></script>
  <script src="/static/script/loading.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    var pluginUrl = (('https:' == document.location.protocol) ? 'https://ssl.' : 'http://www.') + 'google-analytics.com/plugins/ga/inpage_linkid.js';
    _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
    _gaq.push(['_setAccount', 'UA-48481908-1']);
    _gaq.push(['_setDomainName', 'mubook.me']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
<nav class="navbar navbar-static-top" ng-controller="UICtrl">
  <a class="navbar-brand" href="/">µBook</a>
  {% block search-bar %}{% endblock %}

  <ul class="nav navbar-nav pull-right">
    {% if user.is_authenticated %}
      <li class="dropdown-container">
        <a id="username" ng-click="toggleUserMenu()" popup>
          {% if user.first_name or user.last_name %}
            {{ user.first_name }} {{ user.last_name }}
          {% else %}
            {{ user.username }}
          {% endif %}
          <span class="caret"></span>
        </a>
        <ul class="dropdown" ng-show="menuVisible()" ng-cloak>
          <a class="dropdown-item" ng-controller="UserCtrl" ng-click="gotoUser('{{ request.user.username }}')">
            <li>Profile</li>
          </a>
          <a class="dropdown-item" href="#" ng-click="jumpTo('{% url 'account_logout' %}')">
            <li>Sign out</li>
          </a>
        </ul>
      </li>
    {% else %}
      <li id="login-popup" ng-controller="LoginCtrl" popup>
        <a id="login-button" class="login" ng-click="toggleForm($event)">Log in</a>

        <div id="login-signup" ng-show="isVisible()" ng-cloak>
          <div id="login-group" class="pull-left">
            <h5 id="signup-label">New user?</h5>
            <form id="signup-form" method="POST" action="{% url 'account_signup' %}">
              {% csrf_token %}
              {{ form.non_field_errors }}
              <input id="signup-username" class="form-control" maxlength="30" name="username"
                  placeholder="Username" type="text">
              <input id="signup-password" name="password1" class="form-control" placeholder="Password"
                  type="password">
              <input id="signup-password2" name="password2" class="form-control"
                  placeholder="Password" type="password">
              <input id="signup-email" name="email" type="email" class="form-control"
                  placeholder="email@address.com"> {{ form.email.errors }}
              <button class="btn btn-default" type="submit">Sign Up</button>
            </form>
          </div>
          <div id="signup-group" class="pull-right">
            <a href="/accounts/facebook/login/"><div class="fb"></div></a>
            <div id="login-label">Or sign in directly</div>
            {% include "socialaccount/snippets/login_extra.html" %}

            <form id="login-form" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form.non_field_errors }}
              <input id="login-username" class="form-control" maxlength="30" name="login"
                placeholder="Username" type="text"/>{{ form.login.errors }}
              <input id="login-password" class="form-control" name="password" placeholder="Password"
                 type="password"/>{{ form.password.errors }}

              <div class="remember-forgot-section">
                <input id="remember" name="remember" type="checkbox"/>
                <label for="remember">Remember Me</label>
                <a class="forgot"
                 href="{% url 'account_reset_password' %}">Forgot Password?</a>
              </div>
              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}"
                   value="{{ redirect_field_value }}"/>
              {% endif %}
              <button class="btn btn-default" type="submit">Sign In</button>
            </form>
          </div>
        </div>
      </li>
    {% endif %}

    <li><a id="share-google" class="share-button" target="_blank"
           href="https://plus.google.com/share?url=http://mubook.me">g</a></li>
    <li><a id="share-facebook" class="share-button" target="_blank"
           href="https://www.facebook.com/sharer/sharer.php?s=100&p[title]=%C2%B5Book&p[summary]=%C2%B5Book+is+the+unofficial+Melbourne+University+subject+handbook.+Subject+selection+should+be+simple%2C+and+that's+why+%C2%B5Book+exists.&p[url]=http%3A%2F%2Fmubook.me">f</a>
    </li>
    <li><a id="share-twitter" class="share-button" target="_blank"
           href="http://twitter.com/intent/tweet?url=http://mubook.me&text=%C2%B5Book+is+the+unofficial+UniMelb+subject+handbook.+Subject+selection+should+be+simple%2C+and+that's+why+%C2%B5Book+exists">t</a>
    </li>

    <li id="header-right" ng-controller="FeedbackCtrl" popup>
      <a id="feedback-button" ng-click="toggleForm($event)">Contact</a>

      <form id="feedback-form" class="form-horizontal" ng-show="isVisible()" ng-cloak ng-submit="sendFeedback($event)">
        {% csrf_token %}
        <div class="form-group">
          <label for="feedback-name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="feedback-name" ng-model="name"
               placeholder="Optional">
          </div>
        </div>

        <div class="form-group">
          <label for="feedback-email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="feedback-email" ng-model="email"
               placeholder="Enter Email">
          </div>
        </div>

        <div class="form-group">
          <label for="feedback-message" class="col-sm-2 control-label">Message</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="feedback-message" ng-model="message"
              placeholder="Ideas? Bugs? Interested to help?"></textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" id="feedback-submit">Send</button>
            <a href="https://github.com/MuBook/Public/issues">Report a bug</a>
          </div>
        </div>
      </form>
    </li>
  </ul>
</nav>
<script type="text/ng-template" id="directives/notification.html">
  {% include "directives/notification.html" %}
</script>
<notification></notification>
<!--[if IE]>
<div class="alert alert-warning ie-warning">
  Please use modern broswers like Firefox and Chrome.
</div>
<![endif]-->
<!--[if !IE]><!-->
{% block body %}{% endblock %}
{% block page-js %}{% endblock %}
<!--<![endif]-->
</body>
</html>
