<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Demo</title>
	<link rel="stylesheet" href="static/style/visual.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
</head>
<body ng-app="SubjectGraph">
	<header ng-controller="UICtrl" ng-click="search()" id="heading">
		<span ng-bind="getCode()" class="title"></span>
	</header>

	<div id="graph"></div>

	<div id="searchScreen" ng-controller="SearchCtrl" ng-show="isVisiable()" ng-cloak>
		<div id="searchBox">
			<input id="searchInput" type="text" ng-model="search" placeholder="Find subject..  or press ESC to quit" ng-keyup="esc($event)">
			<div id="searchResult">
				<table>
					<tr ng-click="replacePath(node.code)" ng-repeat="node in subjects | filter:search | limitTo: 100">
						<td>{{node.code}}</td>
						<td>{{node.name}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="static/script/visualize.js"></script>
	<script src="static/script/main.js"></script>
</body>
</html>