<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Demo</title>
	<link rel="stylesheet" href="static/style/visual.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-route.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body ng-app="app">
	<div id="sidePane" ng-controller="SidePaneCtrl">
		<header ng-controller="UICtrl" ng-click="search()" id="heading">
			<span ng-bind="getCode()" class="title"></span>
		</header>
		<h2 id="selectedName">no subject selected</h2>
		<section id="sideSection">
			<h4 class="subjectDetail" id="creditPoint">Credit Points: </h4>
				<h id="creditPointDetail"></h>
			<h4 class="subjectDetail" id="semester">Semester: </h4>
				<h id="semesterDetail"></h>
			<h4 class="subjectDetail" id="timeCommit">Time Commitment: </h4>
				<h id="timeCommitDetail"></h>
			<h4 class="subjectDetail" id="prerequisites">Prerequisites: </h4>
				<h id="prerequisitesDetail"></h>
			<h4 class="subjectDetail" id="corequisites">Corequisites: </h4>
				<h id="corequisitesDetail"></h>
			<h4 class="subjectDetail" id="nonAllowedSubjects">Non-Allowed Subjects: </h4>
				<h id="nonAllowedSubjectsDetail"></h>
			<h4 class="subjectDetail" id="subjectOverview">Subject Overview: </h4>
				<h id="subjectOverviewDetail"></h>
			<h4 class="subjectDetail" id="objectives">Objectives: </h4>
				<h id="objectivesDetail"></h>
			<h4 class="subjectDetail" id="assessments">Assessment: </h4>
				<h id="assessmentsDetail"></h>
			<a id="selectedLink" href="#" title="Uni Handbook" target="_blank">
				[Subject Page link]
			</a>
		</section>
		<section id="typeSwitch">
			<p id="reqType" ng-bind="reqType()"></p>
			<button type="button" ng-click="reqSwitch()">Change Type</button>
		</section>

		<footer>
			<a href="https://handbook.unimelb.edu.au/" title="Uni Handbook">
				[Handbook link]
			</a>
		</footer>
	</div>

	<div ng-view id="graphContainer"></div>

	<div id="searchScreen" ng-controller="SearchCtrl" ng-show="isVisiable()" ng-cloak>
		<div id="cover" ng-click="esc({keyCode:27})"></div>
		<div id="searchBox">
			<input id="searchInput" type="text" ng-model="search" placeholder="Find subject..  or press ESC to quit" ng-keyup="esc($event)" ng-keydown="handle($event)">
			<div id="searchResult">
				<table>
					<tr ng-click="replacePath(node.code)" ng-repeat="node in subjects | filter:search | limitTo: 100">
						<td>{{node.code}}</td>
						<td>{{node.name}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="http://cpettitt.github.io/project/dagre-d3/latest/dagre-d3.min.js"></script>
	<script src="static/script/main.js"></script>
	<script src="static/script/visualize.js"></script>
</body>
</html>
