<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Demo</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/style/visual.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body ng-app="app">
	<section id="sidePane" class="col-lg-3" ng-controller="SidePaneCtrl">
		<header ng-controller="UICtrl" ng-click="search()" id="heading">
			<span ng-bind="getCode()" class="title"></span>
		</header>
		{% verbatim %}
		<span class="btn btn-default" ng-cloak ng-click="reqSwitch()">{{reqType()}}</span>
		{% endverbatim %}
		<h2 id="selectedCode">no subject selected</h2>
		<h2 id="selectedName">no subject selected</h2>
		<div id="creditPoint">
			<h4 class="subjectDetailHeading">Credit Points: </h4>
			<p class = "subjectDetail" id="creditPointDetail"></p>
		</div>
		<div id="semester">
			<h4 class="subjectDetailHeading">Semester: </h4>
			<p class = "subjectDetail" id="semesterDetail"></p>
		</div>
		<div id="timeCommit">
			<h4 class="subjectDetailHeading">Time Commitment: </h4>
			<p class = "subjectDetail" id="timeCommitDetail"></p>
		</div>
		<div id="prerequisites">
			<h4 class="subjectDetailHeading">Prerequisites: </h4>
			<p class = "subjectDetail" id="prerequisitesDetail"></p>
		</div>
		<div id="assessments">
			<h4 class="subjectDetailHeading">Assessment: </h4>
			<p class = "subjectDetail" id="assessmentsDetail"></p>
		</div>
		<div id="corequisites">
			<h4 class="subjectDetailHeading">Corequisites: </h4>
			<p class = "subjectDetail" id="corequisitesDetail"></p>
		</div>
		<div id="subjectOverview">
			<h4 class="subjectDetailHeading">Subject Overview: </h4>
			<p class = "subjectDetail" id="subjectOverviewDetail"></p>
		</div>
		<div id="objectives">
			<h4 class="subjectDetailHeading">Objectives: </h4>
			<p class = "subjectDetail" id="objectivesDetail"></p>
		</div>
	</section>

	<section ng-view id="graphContainer" class="col-lg-9"></section>

	<section id="searchScreen" ng-controller="SearchCtrl" ng-show="isVisiable()" ng-cloak>
		<div id="cover" ng-click="esc({keyCode:27})"></div>
		<div id="searchBox">
			<input id="searchInput" type="text" ng-model="search" placeholder="Find subject..  or press ESC to quit" ng-keyup="esc($event)" ng-keydown="move($event)">
			<div id="searchResult">
				<table>
					{% verbatim %}
					<tr ng-click="replacePath(node.code)" data-code="{{node.code}}" ng-repeat="node in subjects | filter:search | limitTo: 100">
						<td>{{node.code}}</td>
						<td>{{node.name}}</td>
					</tr>
					{% endverbatim %}
				</table>
			</div>
		</div>
	</section>

	<section id="feedback" ng-controller="FeedbackCtrl">
		<span id="feedback-button" ng-click="toggleForm()">Feedback</span>
		<form id="feedback-form" ng-hide="hideForm" ng-cloak ng-submit="sendFeedback($event)">
			{% csrf_token %}
			<label for="feedback-name">
				Name: <input id="feedback-name" type="text" ng-model="name" placeholder="optional">
			</label>
			<label for="feedback-email">
				Email: <input id="feedback-email" type="text" ng-model="email" placeholder="optional">
			</label>
			<label for="feedback-message">
				Message: <textarea id="feedback-message" ng-model="message" placeholder="what do you want to tell us?"></textarea>
			</label>
			<input id="feedback-submit" type="submit" class="btn btn-primary" value="Send">
		</form>
	</section>

	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="http://cpettitt.github.io/project/dagre-d3/latest/dagre-d3.min.js"></script>
	<script src="static/script/main.js"></script>
	<script src="static/script/visualize.js"></script>
</body>
</html>
