{% extends "legal_base.html" %}

{% load url from future %}

{% block content %}
    <div id="pp" class="legal-body-content">
        <h2>Privacy Policy</h2>
        <div class="modified">
            Last modified on: September 20, 2014
        </div>
        <div class="text">
        	<p>Our service works the best with Facebook log in. We use Facebook data to be able to show you information about your friends’ subjects.  And if you have added data (by adding subjects as done/doing/etc) your friends will also be able to see that. There are many other features in development as well as in planning stages that display your name and facebook account to others.</p>
        	<p>We will never do bad things with your data. We won’t sell it or use it for evil. We promise to use it only in the best interest of building Mubook to be the most useful tool for you, the students.</p>
        </div>
    </div>
{% endblock %}
