{% extends "base.html" %}

{% block additional-css %}
<link rel="stylesheet" href="/static/style/site.css">
{% endblock %}

{% block body %}
<section id="site">
<nav class="site-nav">
  <div class="site-nav-content">
  <ul>
    <li class="{{ general|yesno:'active,' }}">
    <a href="{% url 'site_general' %}">General</a>
    </li>
    <li class="{{ tos|yesno:'active,' }}">
    <a href="{% url 'site_tos' %}">Terms of Service</a>
    </li>
    <li class="{{ pp|yesno:'active,' }}">
    <a href="{% url 'site_pp' %}">Privacy Policy</a>
    </li>
  </ul>
  </div>
</nav>
<div class="site-body">
  {% block content %}{% endblock %}
</div>
</section>
{% endblock %}

{% block page-js %}
<script src="/static/script/main.js"></script>
{% endblock %}
