{% extends "site_base.html" %}

{% load url from future %}

{% block content %}
  <div id="cu" class="site-body-content">
    <h2>General</h2>
    <div class="text">
    	<h3>About Us</h3>
    	<p>We are not affiliated in any way to the University of Melbourne or the <a href="http://handbook.unimelb.edu.au">official Handbook</a>. We have simply used their data and presented in a cleaner and more efficient way.</p>
    	<h3>Our Goal</h3>
    	<p>Our primary goal is to make a set of useful tools that students would use happily. Sometimes this is because the university's tools are inadequate (timetabling, study plan, handbook), sometimes its because they are simple unable to do it, (social networks, ratings/reviews, cross site linking). We are building the core systems now, and so will be able to modularise the other planned features.</p>
    	<h3>Contact Us</h3>
      <p>If you want to contact us, you can use the form in the top right corner. This will send an email to us.</p>
      <p>An alternative is to email us directly at TBA</p>

    </div>
  </div>
{% endblock %}
