<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>
<body class="{% if request.user.is_authenticated %}logged-in{% else %}logged-out{% endif %}">

{% if visited_user.first_name or visited_user.last_name %}
    {{ visited_user.first_name }} {{ visited_user.last_name }}
{% else %}
    {{ visited_user.username }}
{% endif %}

<div id="selected-subjects">
    {% for subj_name in visited_user.profile.selected_subject %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <td>{{ subj_name }}</td>
        </tr>
    {% endfor %}
</div>
</body>
</html>
